body {
  font-size: 18px;
  color: $default;
  line-height: 28px;
  @extend %roboto-300;
  color: #F3F5FB;
}
// body._lock{
//   overflow: hidden;
// }
html,
body {
  height: 100%;
}
.container {
  max-width: 1620px;
  padding: 0 25px;
  margin: 0 auto;
}
.title{
  font-size: 38px;
  line-height: 50px;
  color: #F3F5FB;
  @extend %roboto-700;
}